<ion-app>
  <!--<ion-router-outlet></ion-router-outlet>-->
     <ion-tabs>
          <ion-tab-bar slot="bottom">
               <ion-tab-button id="y2mtab" tab="Y2M">
                    <ion-icon name="cloud-download-sharp"></ion-icon>
                    <ion-label>Y2M</ion-label>
                    <!--<ion-badge>6</ion-badge> Change to # of active D/Ls -->
               </ion-tab-button>

               <ion-tab-button tab="Search">
                    <ion-icon name="cloud-download-sharp"></ion-icon>
                    <ion-label>Search</ion-label>
               </ion-tab-button>

               <ion-tab-button tab="SupportedURLS">
                    <ion-icon name="globe-sharp"></ion-icon>
                    <ion-label>Supported Sites</ion-label>
               </ion-tab-button>
          </ion-tab-bar>
     </ion-tabs>
</ion-app>